<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="board">
	
	<select id="sequence" resultType="int">
		select board_seq.nextval from dual
	</select>

	<insert id="insert" parameterType="BoardDto">
		insert into board(
			board_no, member_no, board_content, board_lat, board_lon, 
			board_time, board_reply_valid, board_like_valid, 
			board_hide, board_kid, board_size
		) 
		values(
			#{boardNo}, #{memberNo}, #{boardContent}, #{boardLat}, #{boardLon},
			SYSDATE , #{boardReplyValid}, #{boardLikeValid}, 
			#{boardHide}, #{boardKid}, #{boardSize}
		)
	</insert>
	
	<select id="selectOne" resultType="BoardDto">
		select * from board where board_no=#{boardNo}
	</select>
	<select id="selectList" resultType="BoardDto">
		select * from board order by board_no asc
	</select>
	<update id="edit" parameterType="BoardDto">
		update board set 
		board_content=#{boardContent}, board_reply_valid=#{boardReplyValid}, board_like_valid=#{boardLikeValid},
		board_hide=#{boardHide}, board_kid=#{boardKid}, board_size=#{boardSize} where board_no=#{boardNo}
	</update>
	<delete id="delete">
		delete board where board_no=#{boardNo}
	</delete>
	
	 <!-- SQL 구문 조각 생성 -->
	 <sql id="topNheader">
	 	select * from (
	 		select rownum rn, TMP.*from(
	 		</sql>
	 <sql id="topNfooter">
	 		)TMP
	 	)where rn between #{begin} and #{end}
	 </sql>
	
	<select id="selectListPaging" resultType="BoardDto">
		<include refid="topNheader"></include>
			select * from board	order by board_no asc
		<include refid="topNfooter"></include>	
	</select>
	
	<!-- 좋아요 개수 갱신 기능 -->
	<update id="updateLikeCount">
		update board set board_like = #{count} where board_no = #{boardNo}
	</update>
	
	
	<!-- board와 boardAttachment 계층형 조회 -->
	<resultMap type="BoardListVO" id="boardListVO">
		<association property="boardWithNickDto">
			<result column="board_no" property="boardNo"/>
			<result column="member_no" property="memberNo"/>
			<result column="board_content" property="boardContent"/>
			<result column="board_like" property="boardLike"/>
			<result column="board_lat" property="boardLat"/>
			<result column="board_lon" property="boardLon"/>
			<result column="board_time" property="boardTime"/>
			<result column="board_reply" property="boardReply"/>
			<result column="board_reply_valid" property="boardReplyValid"/>
			<result column="board_like_valid" property="boardLikeValid"/>
			<result column="board_report" property="boardReport"/>
			<result column="board_hide" property="boardHide"/>
			<result column="board_kid" property="boardKid"/>
			<result column="board_size" property="boardSize"/>
			<result column="member_nick" property="memberNick"/>
			<result column="attachment_no" property="attachmentNo"/>
		</association>
		<collection property="boardAttachmentList"
				javaType="java.util.List" ofType="BoardAttachmentDto"
				select="boardListTreeSelectSub" column="board_no">
			<result column="board_attachment_no" property="boardAttachmentNo"/>
			<result column="board_no" property="boardNo"/>
			<result column="attachment_no" property="attachmentNo"/>
		</collection>
		<collection property="boardTagList" javaType="java.util.List" ofType="BoardTagDto"
				select="boardListTreeSelectTag" column="board_no">
			<result column="board_tag_no" property="boardTagNo"/>
			<result column="board_no" property="boardNo"/>
			<result column="tag_Name" property="tagName"/>
		</collection>
	</resultMap>
	
	
	<!-- 계층형 조회 메인 구문(관리자 페이지에서 사용) -->
	<select id="boardListTreeSelect" resultMap="boardListVO">
		<bind name="memberNickExist" value="memberNick!=null and !memberNick.equals('')"></bind>
		<bind name="boardTimeBeginExist" value="boardTimeBegin!=null and !boardTimeBegin.equals('')"></bind>
		<bind name="boardTimeEndExist" value="boardTimeEnd!=null and !boardTimeEnd.equals('')"></bind>
		<bind name="boardMinReportExist" value="boardMinReport!=null and !boardMinReport.equals('')"></bind>
		<bind name="boardMaxReportExist" value="boardMaxReport!=null and !boardMaxReport.equals('')"></bind>
		<bind name="boardMinLikeExist" value="boardMinLike!=null and !boardMinLike.equals('')"></bind>
		<bind name="boardMaxLikeExist" value="boardMaxLike!=null and !boardMaxLike.equals('')"></bind>
		<bind name="boardHideExist" value="boardHide!=null and !boardHide.equals('')"></bind>
		<bind name="orderListExist" value="orderList!=null and orderList.size()>0"></bind>
		<include refid="topNheader"></include>
	 		select * from board_with_nick 
	 		<where>
	 			<if test="memberNickExist">
	 				and instr(member_nick, #{memberNick})>0
	 			</if>
	 			<!-- 게시시간 -->
		 		<choose>
			 		<when test="boardTimeBeginExist and boardTimeEndExist">
			 			and board_time between
			 				to_date(#{boardTimeBegin}||' '||'00:00:00', 'YYYY-MM-DD HH24:MI:SS')
			 				and
			 				to_date(#{boardTimeEnd}||' '||'23:59:59', 'YYYY-MM-DD HH24:MI:SS')
			 		</when>
			 		<when test="boardTimeBeginExist">
			 			and board_time >= to_date(#{boardTimeBegin}||' '||'00:00:00', 'YYYY-MM-DD HH24:MI:SS')
			 		</when>
			 		<when test="boardTimeEndExist">
			 			<![CDATA[
			 			and board_time <= to_date(#{boardTimeEnd}||' '||'23:59:59', 'YYYY-MM-DD HH24:MI:SS')
			 			]]> 
			 		</when>
			 		<otherwise></otherwise>
			 	</choose>
			 	<!-- 신고 -->
			 	<choose>
			 		<when test="boardMinReportExist and boardMaxReportExist">
			 			and board_report between #{boardMinReport} and #{boardMaxReport}
			 		</when>
			 		<when test="boardMinReportExist">
			 			and board_report >= #{boardMinReport}
			 		</when>
			 		<when test="boardMaxReportExist">
			 			<![CDATA[
			 			and board_report <= #{boardMaxReport}
			 			]]>
			 		</when>
			 		<otherwise></otherwise>
			 	</choose>
			 	<!-- 좋아요 -->
			 	<choose>
			 		<when test="boardMinLikeExist and boardMaxLikeExist">
			 			and board_like between #{boardMinLike} and #{boardMaxLike}
			 		</when>
			 		<when test="boardMinLikeExist">
			 			and board_like >= #{boardMinLike}
			 		</when>
			 		<when test="boardMaxLikeExist">
			 			<![CDATA[
			 			and board_like <= #{boardMaxLike}
			 			]]>
			 		</when>
			 		<otherwise></otherwise>
			 	</choose>
			 	<!-- 숨김여부 -->
			 	<if test="boardHideExist">
	 				and board_hide=#{boardHide}
	 			</if>
	 		</where>
	 		<choose>
		 		<when test="orderListExist">
			 		<foreach collection="orderList" open="order by " item="order" separator=",">
						${order}
			 		</foreach>
			 		, board_no asc 
			 	</when>
			 	<otherwise>order by board_no asc</otherwise>
	 		</choose>
	 	<include refid="topNfooter"></include>	
	</select>
	<!-- 서브구문 -->
	<select id="boardListTreeSelectSub" resultType="boardAttachmentDto">
		select * from board_attachment where board_no = #{boardNo}
	</select>
	<select id="boardListTreeSelectTag" resultType="boardTagDto">
		select * from board_tag where board_no=#{boardNo} order by board_tag_no asc
	</select>
	
	<!-- 계층형 조회 메인 구문 팔로우, 차단 구현 -->
	<select id="boardListWithFollow" resultMap="boardListVO">
		<bind name="followExist" value="followDtoList!=null and followDtoList.size()>0"></bind>
		<bind name="blockExist" value="blockDtoList!=null and blockDtoList.size()>0"></bind>
		<include refid="topNheader"></include>
	 		select * from board_with_nick 
	 		<where>
	 			<choose>
		 			<when test="followExist">
		 				and member_no in
		 				<foreach collection="followDtoList" open="(" close=")" item="followDto" separator=",">
		 					#{followDto.followFollower}
		 				</foreach>
		 			</when>
		 			<otherwise>
		 				and member_no in(-1)
		 			</otherwise>
	 			</choose>
	 			<if test="blockExist">
	 				and member_no not in
	 				<foreach collection="blockDtoList" open="(" close=")" item="blockDto" separator=",">
	 					#{blockDto.blockNo}
	 				</foreach>
	 			</if>
	 		</where>
	 		order by board_no asc
	 	<include refid="topNfooter"></include>	
	</select>

	<!-- 계층형 조회 메인 구문 차단 구현 -->
	<select id="boardListWithoutFollow" resultMap="boardListVO">
		<bind name="followExist" value="followDtoList!=null and followDtoList.size()>0"></bind>
		<bind name="blockExist" value="blockDtoList!=null and blockDtoList.size()>0"></bind>
		<include refid="topNheader"></include>
	 		select * from board_with_nick 
	 		<where>
	 			<if test="blockExist">
	 				and member_no not in
	 				<foreach collection="blockDtoList" open="(" close=")" item="blockDto" separator=",">
	 					#{blockDto.blockNo}
	 				</foreach>
	 			</if>
	 		</where>
	 		order by board_no desc
	 	<include refid="topNfooter"></include>	
	</select>


	<!-- 신고수 추가 기능 -->
	<update id="addReport">
		update board set board_report = board_report+1 where board_no=#{boardNo}
	</update>
	
	<!-- 게시물 총 개수  -->
	<select id="getTotalPostCount" resultType="int">
		select count(*) from board where member_no = #{memberNo}
	</select>
	

	<!-- 추후 코드 수정 예정 -5/19 재영 -->
	<select id="getTotalMyPost" resultType="boardDto">
	select A.*, B.attachment_no from board A inner join board_attachment B on A.board_no = B.board_no where member_no = #{memberNo}
	</select>
	

<!-- 통계 관련 sql -->
	<!-- 게시물 생성 통계 -->
	<select id="timeStats" resultType="boardTimeStatsResponseVO">
		<include refid="topNheader"></include>
		WITH all_parts AS (
			<choose>
				<when test="col.equals('days')">
					SELECT TRUNC(SYSDATE) - LEVEL + 1 AS date_part
					FROM dual
					<![CDATA[
					CONNECT BY LEVEL <= TRUNC(SYSDATE) - TO_DATE('2023-01-01', 'YYYY-MM-DD') + 1
					]]>
				</when>
				<otherwise>
					SELECT ADD_MONTHS(TRUNC(SYSDATE, 'MM'), -LEVEL + 1) AS date_part
					FROM dual
					<![CDATA[
					CONNECT BY LEVEL <= MONTHS_BETWEEN(TRUNC(SYSDATE, 'MM'), TO_DATE('2023-01', 'YYYY-MM')) + 1
					]]>
				</otherwise>
			</choose>
		)
		SELECT TO_CHAR(
			all_parts.date_part,
			<choose>
				<when test="col.equals('days')">
					'MM/DD'
				</when>
				<otherwise>
					'YY/MM'
				</otherwise>
			</choose>
		) AS col, NVL(COUNT(board.board_time), 0) AS count
		FROM all_parts
			<choose>
				<when test="col.equals('days')">
					LEFT JOIN board ON all_parts.date_part = TRUNC(board.board_time)
				</when>
				<otherwise>
					LEFT JOIN board ON TO_CHAR(all_parts.date_part, 'YYYY-MM') = TO_CHAR(board.board_time, 'YYYY-MM')
				</otherwise>
			</choose>
		GROUP BY all_parts.date_part
		ORDER BY ${order}
		<include refid="topNfooter"></include>
	</select>
	
	<select id="boardTagStats" resultType="boardTagStatsResponseVO">
		<bind name="startDateExist" value="startDate!=null and !startDate.equals('')"></bind>
		<bind name="endDateExist" value="endDate!=null and !endDate.equals('')"></bind>
		<include refid="topNheader"></include>
		SELECT t.tag_name, COUNT(*) AS count
		FROM board b
		JOIN board_tag t ON b.board_no = t.board_no
		<where>
			<choose>
				<when test="!startDateExist and !endDateExist">
					and b.board_time >= sysdate-7
				</when>
				<when test="startDateExist and !endDateExist">
					and b.board_time >= to_date(#{startDate}||' '||'00:00:00', 'YYYY-MM-DD HH24:MI:SS') 
				</when>
				<when test="startDateExist and endDateExist">
					AND b.board_time between
						to_date(#{startDate}||' '||'00:00:00', 'YYYY-MM-DD HH24:MI:SS')
						and
						to_date(#{endDate}||' '||'23:59:59', 'YYYY-MM-DD HH24:MI:SS')
				</when>
				<otherwise>
					and
					<![CDATA[
					b.board_time<=to_date(#{endDate}||' '||'23:59:59', 'YYYY-MM-DD HH24:MI:SS')
					]]>
				</otherwise>
			</choose>
		</where>
		GROUP BY t.tag_name
		ORDER BY count desc
		<include refid="topNfooter"></include>
	</select>
<!-- 통계 관련 sql 끝 -->
<!-- 조건 검색 카운트 -->
	<select id="selectAdminCount" resultType="int">
		<bind name="memberNickExist" value="memberNick!=null and !memberNick.equals('')"></bind>
		<bind name="boardTimeBeginExist" value="boardTimeBegin!=null and !boardTimeBegin.equals('')"></bind>
		<bind name="boardTimeEndExist" value="boardTimeEnd!=null and !boardTimeEnd.equals('')"></bind>
		<bind name="boardMinReportExist" value="boardMinReport!=null and !boardMinReport.equals('')"></bind>
		<bind name="boardMaxReportExist" value="boardMaxReport!=null and !boardMaxReport.equals('')"></bind>
		<bind name="boardMinLikeExist" value="boardMinLike!=null and !boardMinLike.equals('')"></bind>
		<bind name="boardMaxLikeExist" value="boardMaxLike!=null and !boardMaxLike.equals('')"></bind>
		<bind name="boardHideExist" value="boardHide!=null and !boardHide.equals('')"></bind>
		<bind name="orderListExist" value="orderList!=null and orderList.size()>0"></bind>
 		select count(*) from board_with_nick 
 		<where>
 			<if test="memberNickExist">
 				and instr(member_nick, #{memberNick})>0
 			</if>
 			<!-- 게시시간 -->
	 		<choose>
		 		<when test="boardTimeBeginExist and boardTimeEndExist">
		 			and board_time between
		 				to_date(#{boardTimeBegin}||' '||'00:00:00', 'YYYY-MM-DD HH24:MI:SS')
		 				and
		 				to_date(#{boardTimeEnd}||' '||'23:59:59', 'YYYY-MM-DD HH24:MI:SS')
		 		</when>
		 		<when test="boardTimeBeginExist">
		 			and board_time >= to_date(#{boardTimeBegin}||' '||'00:00:00', 'YYYY-MM-DD HH24:MI:SS')
		 		</when>
		 		<when test="boardTimeEndExist">
		 			<![CDATA[
		 			and board_time <= to_date(#{boardTimeEnd}||' '||'23:59:59', 'YYYY-MM-DD HH24:MI:SS')
		 			]]> 
		 		</when>
		 		<otherwise></otherwise>
		 	</choose>
		 	<!-- 신고 -->
		 	<choose>
		 		<when test="boardMinReportExist and boardMaxReportExist">
		 			and board_report between #{boardMinReport} and #{boardMaxReport}
		 		</when>
		 		<when test="boardMinReportExist">
		 			and board_report >= #{boardMinReport}
		 		</when>
		 		<when test="boardMaxReportExist">
		 			<![CDATA[
		 			and board_report <= #{boardMaxReport}
		 			]]>
		 		</when>
		 		<otherwise></otherwise>
		 	</choose>
		 	<!-- 좋아요 -->
		 	<choose>
		 		<when test="boardMinLikeExist and boardMaxLikeExist">
		 			and board_like between #{boardMinLike} and #{boardMaxLike}
		 		</when>
		 		<when test="boardMinLikeExist">
		 			and board_like >= #{boardMinLike}
		 		</when>
		 		<when test="boardMaxLikeExist">
		 			<![CDATA[
		 			and board_like <= #{boardMaxLike}
		 			]]>
		 		</when>
		 		<otherwise></otherwise>
		 	</choose>
		 	<!-- 숨김여부 -->
		 	<if test="boardHideExist">
 				and board_hide=#{boardHide}
 			</if>
 		</where>
	</select>
</mapper>
