<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="board">
	<insert id="insert">
		insert into board(
			board_no, member_no, board_content, board_lat, board_lon,
			board_reply_valid, board_like_valid,
			board_hide, board_kid, board_size
		) 
		values(
			board_seq.nextval, #{memberNo}, #{boardContent}, #{boardLat}, #{boardLon},
			#{boardReplyValid}, #{boardLikeValid},
			#{boardHide}, #{boardKid}, #{boardSize}
		)
	</insert>
	<select id="selectOne" resultType="BoardDto">
		select * from board where board_no=#{boardNo}
	</select>
	<select id="selectList" resultType="BoardDto">
		select * from board order by board_no asc
	</select>
	<delete id="delete">
		delete board where board_no=#{boardNo}
	</delete>
	
	 <!-- SQL 구문 조각 생성 -->
	 <sql id="topNheader">
	 	select * from (
	 		select rownum rn, TMP.*from(
	 		</sql>
	 <sql id="topNfooter">
	 		)TMP
	 	)where rn between #{begin} and #{end}
	 </sql>
	
	 <select id="selectListPaging" resultType="BoardDto">
	 	<include refid="topNheader"></include>
	 		select * from board order by board_no asc
	 	<include refid="topNfooter"></include>	
	 </select>

	
	
</mapper>