<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="dmRoom">
	
	<select id="sequence" resultType="int">
		select dm_room_seq.nextval from dual
	</select>
	
	<insert id="create">
		insert into dm_room(room_no, room_name, room_created, room_type)
		values(#{roomNo}, #{roomName}, sysdate, #{roomType})
	</insert>
	
	<!--  채팅방 유무  -->
	<select id="find" resultType="DmRoomDto">
		select * from dm_room where room_no = #{roomNo}	
	</select>
	
	<!-- 채팅방 목록 -->
	<select id="list" resultType="DmRoomDto">
		select * from dm_room order by room_no desc
	</select>
    
    <!-- 채팅방 삭제 -->
	<delete id="deleteRoom">
		delete dm_room where room_no = #{roomNo}
	</delete>
    
	<!-- 채팅방 정보 변경 -->	
	<update id="changeRoomInfo">
        UPDATE dm_room
        SET room_type = #{roomType},
            room_name = #{roomName}
        WHERE room_no = #{roomNo}
    </update>
    
</mapper>