<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="dmRoomUserProfile">

	<!-- 로그인 회원이 참여 중인 채팅방 조회 -->
	<select id="findRoomsById" resultType="DmRoomUserProfileDto">
	  SELECT * FROM dm_room_user_profile WHERE member_no = #{memberNo}
	</select>
  
</mapper>