<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dmUser">

	<insert id="enter">
		insert into dm_user(member_no, room_no, join_time, read_time)
		values(#{memberNo}, #{roomNo}, sysdate, #{readTime})	
	</insert>
	
	<select id="find" resultType="DmUserDto">
		select * from dm_user where member_no = #{memberNo}
	</select>
	
	<select id="check" resultType="DmUserDto">
		select * from dm_user
		where member_no = #{memberNo} and room_no = #{roomNo}
	</select>

	<!-- 읽은 시간 수정 -->
	<update id="updateReadTime">
		update dm_user
		set read_time=#{readTime}
		where member_no=#{memberNo} and room_no=#{roomNo}
	</update>
	
	<!-- 읽은 시간 데이터 리스트 반환 -->
	<select id="selectReadTime" resultType="long">
		select read_time from dm_user where room_no=#{roomNo}
	</select>
	
	<!-- 채팅방에서 사용자 퇴장 -->
	<delete id="leaveRoom">
	    delete from dm_user 
	    where member_no = #{memberNo} and room_no = #{roomNo}
	</delete>
	
	<!-- 채팅방에 남아 있는 회원 -->
	<select id="findMembersByRoom" resultType="DmUserDto">
        SELECT *
        FROM dm_user
        WHERE room_no = #{roomNo}
    </select>
    
    <!-- 특정 채팅방에 참여한 총 회원수 -->
    <select id="countUsersInRoom" resultType="int" parameterType="int">
        SELECT COUNT(*) FROM dm_user WHERE room_no = #{roomNo}
    </select>
    
    <!-- 특정 회원이 특정 채팅방에서 읽지 않은 메세지 수(본인이 전송한 메세지는 제외) -->
    <select id="getUnreadMessageNum" resultType="long">
		SELECT COUNT(*) AS unread_message
		FROM dm_message
		WHERE room_no = #{roomNo}
		    AND message_send_time > (
		        SELECT MAX(join_time)
		        FROM dm_user
		        WHERE member_no = #{memberNo}
		            AND room_no = #{roomNo}
		    )
		    AND message_sender != #{memberNo}
    </select>
    
    
    <!-- 읽지 않은 메세지 수 수정 -->
	<update id="updateUnReadDm">
		update dm_user
		set unread_message = #{unreadMessage}
		where member_no = #{memberNo} and room_no = #{roomNo}
	</update>
	
	
</mapper>