<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="forbidden">
	<select id="selectList" resultType="forbiddenDto">
		select * from forbidden
		<if test="forbiddenWord!=null and !forbiddenWord.equals('')">
			where instr(forbidden_word, #{forbiddenWord})>0
		</if>
		order by forbidden_word asc
	</select>
	<insert id="insert">
		insert into forbidden(forbidden_word) values(#{forbiddenWord})
	</insert>
	<delete id="delete">
		delete forbidden where forbidden_word=#{forbiddenWord}
	</delete>
	<select id="selectOne" resultType="forbiddenDto">
		select * from forbidden where forbidden_word=#{forbiddenWord}
	</select>
</mapper>