<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="notice">

	<select id="selectList" resultType="NoticeVO" parameterType="Long">
<!-- 	1 : 게시글 좋아요 , 2 : 게시글 댓글 , 3 : 댓글 좋아요, 4 : 댓글의 댓글 , 5 : 팔로우 -->
	SELECT 
		type
		,notice_time
		,board_no
		,member_no
		,member_nick
		,attachment_no
		,like_check
	FROM(
	
	SELECT 
		'1' AS type
		,bl.board_like_time AS notice_time
		,b.board_no AS board_no
		,bl.member_no AS member_no
		,m.member_nick AS member_nick
		,m.attachment_no AS attachment_no
		,bl.like_check AS like_check
	FROM 
		board b
		INNER JOIN board_like bl ON b.board_no = bl.board_no
		INNER JOIN member m ON bl.member_no = m.member_no
		LEFT OUTER JOIN member_with_profile m ON bl.member_no = m.member_no
	WHERE 
		b.member_no =#{memberNo}
		AND bl.member_no != #{memberNo}
	
	UNION
	
	SELECT 
		'2' AS type
		,r.reply_time AS notice_time
		,b.board_no AS board_no
		,b.member_no AS member_no
		,m.member_nick AS member_nick
		,m.attachment_no AS attachment_no
		,r.reply_check AS like_check
	FROM 
		board b
		INNER JOIN reply r ON b.board_no = r.reply_origin
		INNER JOIN member m ON r.reply_member_no = m.member_no
		LEFT OUTER JOIN member_with_profile m ON r.reply_member_no = m.member_no
	WHERE
		b.member_no = #{memberNo}
		AND r.reply_member_no != #{memberNo}
		
	UNION
	
	SELECT 
		'3' AS type
		,rl.reply_like_time AS notice_time
		,r.reply_origin AS board_no
		,rl.member_no AS member_no
		,m.member_nick AS member_nick
		,m.attachment_no AS attachment_no
		,TO_CHAR(rl.reply_like_check) AS like_check
	FROM 
	reply r
		INNER JOIN reply_like rl ON r.reply_no = rl.reply_no
		INNER JOIN member m ON rl.member_no = m.member_no
		LEFT OUTER JOIN member_with_profile m ON rl.member_no = m.member_no
	WHERE
		r.reply_member_no = #{memberNo}
		AND rl.member_no != #{memberNo}
		
	UNION
	
	SELECT 
		'4' AS type
		,r2.reply_time AS notice_time
		,r.reply_origin AS board_no
		,r2.reply_member_no AS member_no
		,m.member_nick AS member_nick
		,m.attachment_no AS attachment_no
		,TO_CHAR(r2.reply_check) AS like_check
	FROM 
		reply r
		INNER JOIN reply r2 ON r.reply_no = r2.reply_parent
		INNER JOIN member m ON r2.reply_member_no = m.member_no
		LEFT OUTER JOIN member_with_profile m ON r2.reply_member_no = m.member_no
	WHERE 
		r.reply_member_no = #{memberNo}
		AND r2.reply_member_no != #{memberNo}
		
	UNION
	
	SELECT 
		'5' AS type
		,f.follow_time AS notice_time
		,NULL AS board_no
		,f.member_no AS member_no
		,m.member_nick AS member_nick
		,m.attachment_no AS attachment_no
		,FOLLOW_CHECK AS like_check
	FROM follow f
	LEFT outer JOIN member_with_profile m ON f.member_no = m.member_no
	where f.follow_follower = #{memberNo}
	) a
	WHERE like_check = 0
	ORDER BY notice_time DESC 
	</select>

	
	<update id="checkBL" parameterType="Long">
		update board_like set like_check = 1 where board_no in (
		    select b.board_no from board  b
		        inner join board_like bl on b.board_no = bl.board_no
		    where b.member_no = #{memberNo}
	    )
	    AND like_check = 0
	    AND member_no != #{member_no}
	</update>

	
	<update id="checkBR" parameterType="Long">
		update reply set reply_check = 1 where reply_no in (
			select r.reply_no from board b 
			    inner join reply r on r.reply_origin = b.board_no
			where b.member_no = #{memberNo}
		)
		AND reply_check = 0
		AND reply_member_no != #{memberNo}
	</update>
	
	<update id="checkBR2" parameterType="Long">
		update reply set reply_check = 1
		where reply_no in (
           select r2.reply_no
			from reply r
            inner join reply r2 on r.reply_no = r2.reply_parent
			where r.reply_member_no = #{memberNo}
		) 
		AND reply_check = 0
		AND reply_member_no != #{memberNo}
	</update>

	
	<update id="checkRL" parameterType="Long">
		update reply_like set reply_like_check = 1 where reply_no in (
		    select r.reply_no from reply r
		        inner join reply_like rl on r.reply_no = rl.reply_no		
		    where r.reply_member_no = #{memberNo}
	    )
	    AND reply_like_check = 0
	    AND member_no != #{memberNo}
	</update>
	
	<update id="checkFollow" parameterType="Long">
		update follow set follow_check = 1 where member_no = #{memberNo} and follow_check = 0
	</update>
	
	
 </mapper> 