<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="reply">
  	
  	<!-- 댓글 생성 -->
  	<insert id="insert" parameterType="ReplyDto">
  		insert into reply(reply_no, reply_content, reply_origin, reply_member_no, reply_time, reply_parent, reply_like)
  		values
  		(reply_seq.nextval, #{replyContent}, #{replyOrigin}, #{replyMemberNo}, sysdate, #{replyParent}, #{replyLike})
  	</insert>
  	
  	<!-- 댓글 조회 -->
  	<select id="selectList" resultType="ReplyDto">
  		SELECT * FROM  reply_with_nick where reply_origin=#{replyOrigin} 
  		CONNECT BY PRIOR reply_no = COALESCE(reply_parent, 0) START WITH COALESCE(reply_parent, 0) = 0 order siblings by reply_no ASC
  	</select>
  	
  	<!-- 댓글 삭제 -->
  	<delete id="delete" parameterType="int">
  		delete reply where reply_no = #{replyNo}
  	</delete>
  	
  	<!-- 단일 조회 -->
  	<select id="selectOne" resultType="ReplyDto">
  		select * from reply where reply_no = #{replyNo}
  	</select>
  	
  	<!-- 댓글 좋아요 개수 갱신 -->  	
  	<update id="updateLikeCount">
  		update reply set reply_like	= #{count} where reply_no = #{replyNo}
  	</update>
  	<update id="addReport">
		update reply set reply_report = (select count(*) from report where report_table='reply' and report_table_no=#{replyNo} and report_check=0) where reply_no=#{replyNo}
	</update>
  </mapper>