<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="report">
	<insert id="insert">
		insert into report(report_no, member_no, report_content, report_member_no, report_table_no, report_table)
		 values(report_seq.nextval, #{memberNo}, #{reportContent}, #{reportMemberNo}, #{reportTableNo}, #{reportTable})
	</insert>
	<update id="update">
		update report set report_content=#{reportContent}, report_time=sysdate where member_no=#{memberNo} and report_table_no=#{reportTableNo} and report_table=#{reportTable}
	</update>
	<select id="selectOne" resultType="ReportDto">
		select * from report where member_no=#{memberNo} and report_table_no=#{reportTableNo} and report_table=#{reportTable}
	</select>
	
	<sql id="topNheader">
	 	select * from (
			select rownum rn, TMP.* from(
	</sql>
	<sql id="topNfooter">
			)TMP
	 	)where rn between #{begin} and #{end}
	</sql>
	
	<select id="selectList" resultType="ReportDto">
		<include refid="topNheader"></include>
			select * from report
			<if test="column!=null and keyword!=null"> 
				where instr(${column}, #{keyword})>0
			</if>
			order by report_no asc
		<include refid="topNfooter"></include>	
	</select>

	<select id="selectDetailCount" resultType="ReportDetailCountVO">
		SELECT report_content, count(*) AS count FROM report WHERE report_table=#{reportTable} AND report_table_no=#{reportTableNo} GROUP BY report_content order by count desc
	</select>
	<update id="updateReportCheck">
		update report set report_check=#{reportResult}  where report_table=#{reportTable} and report_table_no=#{reportTableNo}
	</update>
	<delete id="deleteDeletedReport">
		delete report where report_check=2
	</delete>
	<update id="updateReportContent">
		update report set report_content=#{reportListContentAfter} where report_content=#{reportListContentBefore}
	</update>
</mapper>