@charset "UTF-8";

/*
    commons.css

    이 파일에는 자주 사용하는 작은 화면에 대한 클래스가 존재

    제작일자 : 2023-02-22
    제작자 : 피카츄
*/
.btn.btn-primary{
	background-color: #0095F6;
	border-color:#0095F6;
	font-weight:500;
}
.btn.btn-primary:hover{
	background-color: #1877F2;
	border-color: #1877F2;
}
.btn.btn-secondary{
	background-color: #EFEFEF;
	border-color:#EFEFEF;
	font-weight:500;
	color:black
}
.btn.btn-secondary:hover{
	background-color: #DBDBDB;
	border-color: #DBDBDB;
}
