@charset "UTF-8";

/*
    commons.css

    이 파일에는 자주 사용하는 작은 화면에 대한 클래스가 존재

    제작일자 : 2023-02-22
    제작자 : 피카츄
*/

/* 파란버튼 */
	.btn.btn-primary{
		background-color: #0095F6;
		border-color:#0095F6;
		font-weight:500;
	}
	.btn.btn-primary:hover{
		background-color: #1877F2;
		border-color: #1877F2;
	}

/* 회색버튼 */
	.btn.btn-secondary{
		background-color: #EFEFEF;
		border-color:#EFEFEF;
		font-weight:500;
		color:black
	}
	.btn.btn-secondary:hover{
		background-color: #DBDBDB;
		border-color: #DBDBDB;
	}
/* 빨간버튼 */
	.btn.btn-danger{
		background-color: #d9534f;
		border-color:#d9534f;
		font-weight:500;
	}
	.btn.btn-danger:hover{
		background-color: #d23430;
		border-color: #d23430;
	}
/* 녹색버튼 */
	.btn.btn-success{
		background-color: #02b875;
		border-color:#02b875;
		font-weight:500;
	}
	.btn.btn-success:hover{
		background-color: #02925d;
		border-color: #02925d;
	}	
/* 디폴트 버튼 */
	.btn.btn-default:active{
		border-color:rgba(0,0,0,0);
	}
/* input, textarea 클릭 시 그림자효과 조정 (rounded)와 함께 씀 */
	.form-control:focus{
	    border-color:#dee2e6;
	    box-shadow:0 0 0 0.1rem #999999
	}

/* 회색 입력창 클래스 */
	.form-control.input-gray{
	    background-color: #EFEFEF;
	    border-color: #EFEFEF;
	    color:#737373
	}

/* is-valid, is-invald 초록, 빨강 테두리 크기 조정 */
	.form-control.is-valid:focus{
	    box-shadow:0 0 0 0.1rem rgba(25,135,84, .25)
	}
	.form-control.is-invalid:focus{
	    box-shadow:0 0 0 0.1rem rgba(220,53,69, .25)
	}

/* 페이지네이션 */
	.page-item{
		cursor:pointer;
	}
	.page-item.disabled{
		cursor:not-allowed;
	}
	.page-item>.page-link{
	  color:#3F3F3F;
	}
	/* 클릭한 페이지 */
	.page-item>.page-link:focus{
	  color:black;
	  background-color: #DBDBDB;
	  box-shadow: 0 0 0 0.1rem rgba(115,115,115, .25);
	}
	/* 선택된 페이지 */
	.active>.page-link{
	  background-color: #DBDBDB;
	  border-color:#DBDBDB;
	}

/* 프로필 사진 비율 */
.rounded-circle{
	object-fit: cover;
}



/* 모달 버튼 파란 글씨 */
.modal-click-btn{
	color:#0095F6;
	cursor:pointer;
}
.modal-click-btn:hover{
	color:#0b5ed7;
}
/* 모달 버튼 빨간 글씨 */
.modal-click-btn-negative{
	color:#d9534f;
	cursor:pointer;
}
.modal-click-btn-negative:hover{
	color:#d63384;
}
/* 모달 버튼 회색 글씨 */
.modal-click-btn-neutral{
	color:#6c757d;
	cursor:pointer;
	text-decoration: none;
}
.modal-click-btn-neutral:hover{
	color:#343a40;
}
/* 모달 버튼 초록 글씨 */
.modal-click-btn-green{
	color:#198754;
	cursor:pointer;
}
.modal-click-btn-green:hover{
	color:#20c997;
}